{% extends "navbar.html" %}

{% block content %}

<div class="container-wrapper">
    <div class="blog-main container">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h2>Exploring the Future of Technology</h2>
                    </div>
                    <div class="card-body">
                        <img src="path_to_your_image.jpg" alt="Technology Future" class="img-fluid mb-3">
                        <p>As we move further into the 21st century, technology continues to evolve at an unprecedented pace. Innovations in artificial intelligence, blockchain, and quantum computing are just a few examples of how the future of technology is being shaped right before our eyes.</p>
                        <p>In this blog post, we'll dive into some of the most exciting technological advancements on the horizon and explore how they might impact our daily lives in the years to come.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}