{% extends "navbar.html" %}


{% block content %}
<svg class="dashed-line-svg" xmlns="http://www.w3.org/2000/svg">
    <line x1="50%" y1="0" x2="50%" y2="3000px" stroke="#0000007c" stroke-width="2" stroke-dasharray="10,10"/>
</svg>
<div class="content">
    {% for project in projects %}
    <div class="{% if loop.index is odd %}right-date right-date-{% else %}left-date left-date-{% endif %}{{ loop.index }}">
        {{ project.date }}
    </div>
    <div class="{% if loop.index is odd %}right-circle right-circle-{% else %}left-circle left-circle-{% endif %}{{ loop.index }}"></div>
    <div class="{% if loop.index is odd %}right-dashed-line right-dashed-line-{% else %}left-dashed-line left-dashed-line-{% endif %}{{ loop.index }}"></div>
    <a href="{{ project.url }}" target="_blank">
        <div class="{% if loop.index is odd %}right-content-rectangle right-content-rectangle-{% else %}left-content-rectangle left-content-rectangle-{% endif %}{{ loop.index }}">
            <p class="header">{{ project.title + '<br>(Click Me)' | safe }}</p>
        </div>
    </a>
    {% endfor %}
</div>

<div class="dashed-line"></div>
{% endblock %}
