body {
    height: 300vh; /* Makes the page 3 times the viewport's height */
    position: relative; /* Needed for correct positioning of the line */
    margin: 0; /* Removes default body margins */
    padding: 0; /* Removes default body padding */
    box-sizing: border-box; /* Makes sure padding and border are included in element's total width and height */
}

.header {
    text-align: center;
}

.content {
    position: relative;
    z-index: 1;
}

.link {
    color: blue;
    text-decoration: none;
    text-align: center;
}

.link:hover {
    text-decoration: none;
}

.top-rectangle-1 {
    height: 5vh;
    width: 100%;
    background-color: rgb(105, 88, 200); /* change this color as per your requirement */
}

.top-rectangle-2 {
    height: 3vh;
    width: 100%;
    background-color: rgb(156, 146, 211); /* change this color as per your requirement */
}

.top-rectangle-3 {
    height: 1vh;
    width: 100%;
    background-color: rgb(188, 183, 213); /* change this color as per your requirement */
}
  
.dashed-line {
    position: absolute;
    top: 40vh;
    left: 50%;
    transform: translateX(-50%);
    height: 160vh;
    width: 2px;
    background-color: transparent;
    background-image: repeating-linear-gradient(
        to bottom,
        transparent,
        transparent 10px,
        #0000007c 10px,
        #0000007c 20px
    );
    z-index: 0;
}

.date-1 {
    position: absolute;
    top: 40vh;
    left: 38vw;
    transform: translate(-50%, -50%);
    width: 25vw; /* Adjust the size of the circle */
    height: 4.8vw; /* Adjust the size of the circle */
    font-size: 3vw;
    text-align: center;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.circle-1 {
    position: absolute;
    top: 40vh; /* Adjust the desired vertical height */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3vw; /* Adjust the size of the circle */
    height: 3vw; /* Adjust the size of the circle */
    border-radius: 50%;
    border: 2px solid rgb(44, 44, 52);
    background-color: rgba(100, 100, 200); /* Adjust the color of the circle */
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
    z-index: 1;
}

.circle-1:hover {
    transform: translate(-50%, -50%) scale(1.5); /* Adjust the scale value for the expansion */
}

.right-dashed-line-1 {
    position: absolute;
    top: 40vh;
    left: 50%;
    transform: translate(-0%, -50%);
    width: 20vw;
    height: 2px;
    background-color: transparent;
    background-image: repeating-linear-gradient(
        to right,
        transparent,
        transparent 10px,
        #0000007c 10px,
        #0000007c 20px
    );
    z-index: 0;
}

.content-rectangle-1 {
    position: absolute;
    top: 40vh;
    left: 83vw;
    transform: translate(-50%, -50%);
    width: 25vw; /* Adjust the size of the circle */
    height: 15vw; /* Adjust the size of the circle */
    border-radius: 5%;
    background-color: rgba(100, 100, 200); /* Adjust the color of the circle */
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.3);
    color: #ffffff;
    transition: transform 1.0s ease;
    font-size: 1.5vw;
    z-index: 2;
}

.content-rectangle-1:hover {
    transform: translate(-70%, -50%) scale(1.5); /* Adjust the scale value for the expansion */
}

.smooth-rectangle-1 {
    position: absolute;
    top: 60vh;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3vw; /* Adjust the size of the circle */
    height: 10vw; /* Adjust the size of the circle */
    border-radius: 20%;
    background-color: rgb(44, 44, 52); /* Adjust the color of the circle */
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.circle-2 {
    position: absolute;
    top: 80vh; /* Adjust the desired vertical height */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3vw; /* Adjust the size of the circle */
    height: 3vw; /* Adjust the size of the circle */
    border-radius: 50%;
    border: 2px solid rgb(44, 44, 52);
    background-color: rgb(63, 150, 66); /* Adjust the color of the circle */
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
    z-index: 1;
}

.circle-2:hover {
    transform: translate(-50%, -50%) scale(1.5); /* Adjust the scale value for the expansion */
}

.left-dashed-line-1 {
    position: absolute;
    top: 80vh;
    left: 50%;
    transform: translate(-100%, -50%);
    width: 20vw;
    height: 2px;
    background-color: transparent;
    background-image: repeating-linear-gradient(
        to right,
        transparent,
        transparent 10px,
        #0000007c 10px,
        #0000007c 20px
    );
    z-index: 0;
}

.content-rectangle-2 {
    position: absolute;
    top: 80vh;
    left: 15vw;
    transform: translate(-50%, -50%);
    width: 25vw; /* Adjust the size of the circle */
    height: 15vw; /* Adjust the size of the circle */
    border-radius: 5%;
    background-color: rgb(63, 150, 66); /* Adjust the color of the circle */
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.3);
    transition: transform 1.0s ease;
    font-size: 1.5vw;
    z-index: 1;
}

.content-rectangle-2:hover {
    transform: translate(-30%, -50%) scale(1.5); /* Adjust the scale value for the expansion */
}

.smooth-rectangle-2 {
    position: absolute;
    top: 100vh;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3vw; /* Adjust the size of the circle */
    height: 10vw; /* Adjust the size of the circle */
    border-radius: 20%;
    background-color: rgb(44, 44, 52); /* Adjust the color of the circle */
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.circle-3 {
    position: absolute;
    top: 120vh; /* Adjust the desired vertical height */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3vw; /* Adjust the size of the circle */
    height: 3vw; /* Adjust the size of the circle */
    border-radius: 50%;
    border: 2px solid rgb(44, 44, 52);
    background-color: rgb(181, 65, 65); /* Adjust the color of the circle */
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
    z-index: 1;
}

.circle-3:hover {
    transform: translate(-50%, -50%) scale(1.5); /* Adjust the scale value for the expansion */
}

.right-dashed-line-2 {
    position: absolute;
    top: 120vh;
    left: 50%;
    transform: translate(-0%, -50%);
    width: 20vw;
    height: 2px;
    background-color: transparent;
    background-image: repeating-linear-gradient(
        to right,
        transparent,
        transparent 10px,
        #0000007c 10px,
        #0000007c 20px
    );
    z-index: 0;
}

.content-rectangle-3 {
    position: absolute;
    top: 120vh;
    left: 83vw;
    transform: translate(-50%, -50%);
    width: 25vw; /* Adjust the size of the circle */
    height: 15vw; /* Adjust the size of the circle */
    border-radius: 5%;
    background-color: rgb(181, 65, 65); /* Adjust the color of the circle */
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.3);
    transition: transform 1.0s ease;
    font-size: 1.5vw;
    z-index: 1;
}

.content-rectangle-3:hover {
    transform: translate(-70%, -50%) scale(1.5); /* Adjust the scale value for the expansion */
}

.smooth-rectangle-3 {
    position: absolute;
    top: 140vh;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3vw; /* Adjust the size of the circle */
    height: 10vw; /* Adjust the size of the circle */
    border-radius: 20%;
    background-color: rgb(44, 44, 52); /* Adjust the color of the circle */
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.circle-4 {
    position: absolute;
    top: 160vh; /* Adjust the desired vertical height */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3vw; /* Adjust the size of the circle */
    height: 3vw; /* Adjust the size of the circle */
    border-radius: 50%;
    border: 2px solid rgb(44, 44, 52);
    background-color: rgb(82, 209, 213); /* Adjust the color of the circle */
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
    z-index: 1;
}

.circle-4:hover {
    transform: translate(-50%, -50%) scale(1.5); /* Adjust the scale value for the expansion */
}

.left-dashed-line-2 {
    position: absolute;
    top: 160vh;
    left: 50%;
    transform: translate(-100%, -50%);
    width: 20vw;
    height: 2px;
    background-color: transparent;
    background-image: repeating-linear-gradient(
        to right,
        transparent,
        transparent 10px,
        #0000007c 10px,
        #0000007c 20px
    );
    z-index: 0;
}

.content-rectangle-4 {
    position: absolute;
    top: 160vh;
    left: 15vw;
    transform: translate(-50%, -50%);
    width: 25vw; /* Adjust the size of the circle */
    height: 15vw; /* Adjust the size of the circle */
    border-radius: 5%;
    background-color: rgb(115, 172, 173); /* Adjust the color of the circle */
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.3);
    transition: transform 1.0s ease;
    font-size: 1.5vw;
    z-index: 1;
}

.content-rectangle-4:hover {
    transform: translate(-30%, -50%) scale(1.5); /* Adjust the scale value for the expansion */
}

.smooth-rectangle-4 {
    position: absolute;
    top: 180vh;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3vw; /* Adjust the size of the circle */
    height: 10vw; /* Adjust the size of the circle */
    border-radius: 20%;
    background-color: rgb(44, 44, 52); /* Adjust the color of the circle */
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.3);
    z-index: 1;
}