// Define base variables
$primary-colors: rgba(100, 100, 200), rgb(63, 150, 66), rgb(181, 65, 65), rgb(82, 209, 213), rgb(133, 41, 140), rgb(190, 190, 70);
$base-width: 25vw;
$base-height: 3.0vw;
$font-size: 2.0vw;
$hover-scale: 1.5;
$transition-speed: 0.3s;
$z-index-base: 1;

// Mixins for repeated styles
@mixin hover-transform {
  &:hover {
    transform: translate(-50%, -50%) scale($hover-scale);
  }
}

@mixin base-position($top: 50vh, $left: 50%, $width: $base-width, $height: $base-height, $index: 1) {
  position: absolute;
  top: $top + ($index - 1) * 40vh; // Increment top position for each item
  left: $left;
  width: $width;
  height: $height;
  font-size: $font-size;
  text-align: center;
  align-items: center;
  justify-content: center;
  transition: transform $transition-speed ease;
  z-index: $z-index-base;
  @include hover-transform;
}

// Generate CSS for dates and circles dynamically
@for $i from 1 through length($primary-colors) {
  $color: nth($primary-colors, $i);

  .date-#{$i},
  .circle-#{$i} {
    @include base-position($index: $i);
    border: 2px solid rgb(44, 44, 52);
    background-color: $color;
    border-radius: 50%;
  }

  .content-rectangle-#{$i} {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: $color;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.3);
    @include base-position($left: 83vw, $width: $base-width, $height: 15vw, $index: $i);
    @include hover-transform;
  }
}
