.carousel-item img {
    height: 80vh;
    object-fit: cover;
}

.bio_content_positioning{
    position: absolute;
    top: 40vh;
    font-size: 4.0vw;
    text-align: center;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.resume-iframe {
    width: 55vw;
    height: 80vh;
}

.resume-info {
    /* No properties defined */
}