@media (max-width: 950px) {
    .carousel-item img {
        height: 40vh;
        object-fit: cover;
    }

    .bio_content_positioning {
        position: absolute;
        top: 28%;
        left: 50%; /* Centers horizontally by setting left to 50% of the viewport width */
        transform: translate(-50%, -50%); /* Moves the carousel back by half its width and height */
        font-size: 4.0vw;
        text-align: center;
        align-items: center;
        justify-content: center;
        z-index: 5;
    }

    .resume-iframe {
        width: 80vw;
        height: 50vh;
    }

    .resume-info {
        margin-top: 5vh;
    }
}