@media (max-aspect-ratio: 1) {
    .container-fluid {
        width: 100%;
        padding-right: 0;
        padding-left: 0;
        margin-right: auto;
        margin-left: auto;
    }    
    
    .carousel-item img {
        object-fit: cover;
        width: 100%;
        height: auto;
    }

    .bio_content_positioning {
        position: absolute;
        top: 30%;
        left: 50%; /* Centers horizontally by setting left to 50% of the viewport width */
        transform: translate(-50%, -50%); /* Moves the carousel back by half its width and height */
        font-size: 4.0vw;
        text-align: center;
        align-items: center;
        justify-content: center;
        z-index: 5;
    }

    /* For wide screens */
    @media (min-aspect-ratio: 13/20) and (max-aspect-ratio: 1) {
        .bio_content_positioning {
            top: 37.5%;
            font-size: 3.5vw;
        }
    }

    /* For somewhat wide screens */
    @media (max-aspect-ratio: 10/20) and (max-aspect-ratio: 13/20) {
        .bio_content_positioning {
            top: 30%;
            font-size: 4.5vw;
        }
    }

    /* For somewhat tall screens */
    @media (max-aspect-ratio: 7/20) and (max-aspect-ratio: 10/20) {
        .bio_content_positioning {
            top: 27.5%;
            font-size: 4.5vw;
        }
    }

    /* For tall screens */
    @media (max-aspect-ratio: 4/20) and (max-aspect-ratio: 7/20) {
        .bio_content_positioning {
            top: 25%;
            font-size: 4.5vw;
        }
    }

    /* For exceptionally tall screens */
    @media (max-aspect-ratio: 0) and (max-aspect-ratio: 4/20) {
        .bio_content_positioning {
            top: 22.5%;
            font-size: 4.5vw;
        }
    }

    .custom-hr {
        display: block;
        border: none; /* Remove the default border */
        border-top: 2px solid #ccc; /* Create a horizontal line */
        margin-top: 40px auto; /* Add space above and below and center it */
        margin-bottom: 40px auto; /* Add space above and below and center it */
        width: 100%; /* Set the width of the line */
        opacity: 0.8; /* Optional: Slight transparency for a soft look */
    }

    .custom-hr {
        display: block;
        border: none; /* Remove the default border */
        border-top: 2px solid #ccc; /* Create a horizontal line */
        margin-top: 40px auto; /* Add space above and below and center it */
        margin-bottom: 40px auto; /* Add space above and below and center it */
        width: 100%; /* Set the width of the line */
        opacity: 0.8; /* Optional: Slight transparency for a soft look */
    }

    .resume-iframe {
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
        box-sizing: border-box; /* Ensures padding and border are included in the width */
        border: none; /* Optional, removes the border */
        width: 100%;
        max-width: 100%;
        height: 40vh;
        margin-top: 5vh;
        display: none;
    }

    .resume-img {
        margin-top: 1.5vh;
        display: block;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    }

    .phone-subtitle {
        display: block;
        align-content: center;
    }

    .content-section {
        display: block;
    }

    .social-media-icon {
        display: block;
        margin-top: 1.5vh;
    }

    /* Add a shadow to the bottom right of the icons */
    .icon-with-shadow {
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); /* Adjust values as needed */
        transition: box-shadow 0.3s ease; /* Smooth shadow effect on hover */
    }

    /* Optional: Hover effect for a stronger shadow */
    .icon-with-shadow:hover {
        box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.3);
    }

}