@media (max-width: 950px) {
    .contact-me-main {
        position: absolute;
        top: 30vh; /* Vertically centers the top at 40% of the viewport height */
        left: 13%;
        align-items: center;
        justify-content: center;
        z-index: 5;
    }

    .contact-me-main .card {
        width: 70%;  /* Reduces the card's width to 90% of its container */
    }
}