@media (max-width: 950px) {
    body, html {
        height: 350vh; /* Makes the page 3 times the viewport's height */
        margin: 0;
    }

    .container-wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        min-height: 50vh;
        padding-top: 30vh;
    }

    .blog-main {
        width: 74%; /* Adjust width as needed */
        z-index: 5;
    }
}