body {
    height: 200vh; /* Keep this below 200vh */
    height: 200vh; /* Keep this below 200vh */
    position: relative; /* Needed for correct positioning of the line */
    margin: 0; /* Removes default body margins */
    padding: 0; /* Removes default body padding */
    box-sizing: border-box; /* Makes sure padding and border are included in element's total width and height */
}

.header {
    text-align: center;
}

.content {
    position: relative;
    z-index: 1;
}

.link {
    color: blue;
    text-decoration: none;
    text-align: center;
}

.link:hover {
    text-decoration: none;
}
  
.dashed-line-svg {
.dashed-line-svg {
    position: absolute;
    top: 0;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 2500px;
    width: 2px;
    z-index: 0;
}

/* ###################### */
/* Right content rectangle */
/* ###################### */

.right-date {
    position: absolute;
    top: 0vh;
    left: 35vw;
    transform: translate(-50%, -50%);
    width: 25vw; /* Adjust the size of the circle */
    height: 3.0vw; /* Adjust the size of the circle */
    font-size: 3.0vw;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
    z-index: 1;
}

.right-circle {
    position: absolute;
    top: 0vh;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    border: 2px solid rgb(44, 44, 52);
    background-color: rgb(133, 41, 140);
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
    z-index: 1;
}

.right-circle:hover {
    transform: translate(-50%, -50%) scale(1.5);
}

.right-date:hover {
    transform: translate(-50%, -50%) scale(1.5); /* Adjust the scale value for the expansion */
}

.right-dashed-line {
    position: absolute;
    top: 0vh;
    left: 50%;
    transform: translate(-0%, -50%);
    width: 20vw;
    height: 2px;
    background-color: transparent;
    background-image: repeating-linear-gradient(
        to right,
        transparent,
        transparent 10px,
        #0000007c 10px,
        #0000007c 20px
    );
    z-index: 0;
}

.right-content-rectangle {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 3.5vw;
    position: absolute;
    top: 0vh;
    left: 83vw;
    transform: translate(-50%, -50%);
    width: 25vw;
    height: 15vw;
    border-radius: 5%;
    background-color: rgb(133, 41, 140);
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.3);
    transition: transform 1.0s ease;
    z-index: 1;
}

.right-content-rectangle:hover {
    transform: translate(-70%, -50%) scale(1.5);
}

/* ###################### */
/* Left content rectangle */
/* ###################### */

.left-date {
    position: absolute;
    top: 0vh;
    left: 65vw;
    transform: translate(-50%, -50%);
    width: 25vw;
    height: 3.0vw;
    font-size: 3.0vw;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
    z-index: 1;
}

.left-circle {
    position: absolute;
    top: 0vh;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    border: 2px solid rgb(44, 44, 52);
    background-color: rgb(63, 150, 66);
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
    z-index: 1;
}

.left-circle:hover {
    transform: translate(-50%, -50%) scale(1.5);
}

.left-date:hover {
    transform: translate(-50%, -50%) scale(1.5); /* Adjust the scale value for the expansion */
}

.left-dashed-line {
    position: absolute;
    top: 0vh;
    left: 50%;
    transform: translate(-100%, -50%);
    width: 20vw;
    height: 2px;
    background-color: transparent;
    background-image: repeating-linear-gradient(
        to right,
        transparent,
        transparent 10px,
        #0000007c 10px,
        #0000007c 20px
    );
    z-index: 0;
}

.left-content-rectangle {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 3.5vw;

    position: absolute;
    top: 0vh;
    left: 15vw;
    transform: translate(-50%, -50%);

    width: 25vw;
    height: 15vw;

    border-radius: 5%;
    background-color: rgb(63, 150, 66);
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.3);
    transition: transform 1.0s ease;
    z-index: 1;
}

.left-content-rectangle:hover {
    transform: translate(-30%, -50%) scale(1.5);
}

/* ###################### */

.right-date-1, .right-circle-1, .right-dashed-line-1, .right-content-rectangle-1 {
    top: 50vh;
}

.right-circle-1, .right-content-rectangle-1 {
    background-color: rgb(70, 130, 180);
}

/* ###################### */

.left-date-2, .left-circle-2, .left-dashed-line-2, .left-content-rectangle-2 {
    top: 80vh;
    top: 80vh;
}

.left-circle-2, .left-content-rectangle-2 {
    background-color: rgb(255, 127, 80);
}

/* ###################### */

.right-date-3, .right-circle-3, .right-dashed-line-3, .right-content-rectangle-3 {
    top: 110vh;
    top: 110vh;
}

.right-circle-3, .right-content-rectangle-3 {
    background-color: rgb(150, 123, 182);
}

/* ###################### */

.left-date-4, .left-circle-4, .left-dashed-line-4, .left-content-rectangle-4 {
    top: 140vh;
    top: 140vh;
}

.left-circle-4, .left-content-rectangle-4 {
    background-color: rgb(152, 251, 152);
}

/* ###################### */

.right-date-5, .right-circle-5, .right-dashed-line-5, .right-content-rectangle-5 {
    top: 170vh;
    top: 170vh;
}

.right-circle-5, .right-content-rectangle-5 {
    background-color: rgb(255, 99, 71);
}

/* ###################### */

.left-date-6, .left-circle-6, .left-dashed-line-6, .left-content-rectangle-6 {
    top: 200vh;
    top: 200vh;
}

.left-circle-6, .left-content-rectangle-6 {
    background-color: rgb(238, 232, 170);
}

/* ###################### */

.right-date-7, .right-circle-7, .right-dashed-line-7, .right-content-rectangle-7 {
    top: 230vh;
    top: 230vh;
}

.right-circle-7, .right-content-rectangle-7 {
    background-color: rgb(205, 92, 92);
}

/* ###################### */

.left-date-8, .left-circle-8, .left-dashed-line-8, .left-content-rectangle-8 {
    top: 260vh;
    top: 260vh;
}

.left-circle-8, .left-content-rectangle-8 {
    background-color: rgb(70, 130, 180);
}

/* ###################### */

.right-date-9, .right-circle-9, .right-dashed-line-9, .right-content-rectangle-9 {
    top: 290vh;
    top: 290vh;
}

.right-circle-9, .right-content-rectangle-9 {
    background-color: rgb(255, 127, 80);
}

/* ###################### */